<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>you have to first activate your account</h1>
    <h1>click below link to activate your account</h1>
    <form action="/updatedemo">
        <input type="hidden" name="value" value="<%=token_random%>">
        <input type="submit" value="activate">
    </form>
</body>
</html>